.footer-main{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(77, 223, 253, 1);
    margin: 50px 70px;
}
.footer-left{
    width: 30%;
    padding: 30px 0;
}
.footer-left p{
    width: 300px;
    font-size: 16px;
    font-weight: 400;
}
.footer-left span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    width: 34px;
    height: 34px;
    background-color: rgba(77, 223, 253, 1);
    border-radius: 50%;
}
.footer-left span svg{
    color: #fff;
}
.footer-right{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 400px;
}
.footer-head{
    font-size: 18px;
    font-weight: 700;
}
.footer-admin{
    float: right;
    padding: 0 70px;
    position: relative;
    bottom: 45px;
}
.footer-admin span{
    color: rgba(57, 57, 61, 1);
    font-size: 14px;
    font-weight: 300;
}